[submodule "libpafe-emscripten/src/libpafe"]
	path = libpafe-emscripten/src/libpafe
	url = https://github.com/rfujita/libpafe.git
	branch = master
[submodule "tests/suica-dump"]
	path = tests/suica-dump
	url = https://github.com/temmings/suica-dump.git
	branch = master
